<a href="https://colab.research.google.com/github/2808118/Python-programming-exercises/blob/master/Python_100_%E7%BB%83%E6%89%8B%E9%A2%98%E7%9B%AE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Question 1
l = []
for i in range(2000, 3200):
  if (i % 7 == 0 ) and (i % 5 != 0):
    l.append(str(i))
print (l)

['2002', '2009', '2016', '2023', '2037', '2044', '2051', '2058', '2072', '2079', '2086', '2093', '2107', '2114', '2121', '2128', '2142', '2149', '2156', '2163', '2177', '2184', '2191', '2198', '2212', '2219', '2226', '2233', '2247', '2254', '2261', '2268', '2282', '2289', '2296', '2303', '2317', '2324', '2331', '2338', '2352', '2359', '2366', '2373', '2387', '2394', '2401', '2408', '2422', '2429', '2436', '2443', '2457', '2464', '2471', '2478', '2492', '2499', '2506', '2513', '2527', '2534', '2541', '2548', '2562', '2569', '2576', '2583', '2597', '2604', '2611', '2618', '2632', '2639', '2646', '2653', '2667', '2674', '2681', '2688', '2702', '2709', '2716', '2723', '2737', '2744', '2751', '2758', '2772', '2779', '2786', '2793', '2807', '2814', '2821', '2828', '2842', '2849', '2856', '2863', '2877', '2884', '2891', '2898', '2912', '2919', '2926', '2933', '2947', '2954', '2961', '2968', '2982', '2989', '2996', '3003', '3017', '3024', '3031', '3038', '3052', '3059', '3066', '3073', '3087', '3094', '3101', '3108', '3122', '3129', '3136', '3143', '3157', '3164', '3171', '3178', '3192', '3199']

In [ ]:
# Question 2
# use input() to take in initial numbers
# use int() to convert to integer
n = int(input())
# initialise parameters
fact = 1
i = 1
while i <= n:
  fact = fact*i
  i += 1
  print(fact,i)

15
1 2
2 3
6 4
24 5
120 6
720 7
5040 8
40320 9
362880 10
3628800 11
39916800 12
479001600 13
6227020800 14
87178291200 15
1307674368000 16

In [ ]:
# Question 2
# use for loop to 
# use input() function to take in n
# use int() to convert the n to integer
n = int(input("Enter a number:"))
# initialise fact and i from 1
fact = 1

# there is no need to set i = 1;
# there is no need to compare i and n as i always falls in the range of (1, n+1)
# 
for i in range(1,n+1):
    fact = fact*i
    i += 1
    print(fact, i)

Enter a number:15
1 2
2 3
6 4
24 5
120 6
720 7
5040 8
40320 9
362880 10
3628800 11
39916800 12
479001600 13
6227020800 14
87178291200 15
1307674368000 16

In [ ]:
# use lambda function (bu hui zuo)
n = int(input())
fact = 1
def shortFact(x): 
  for x in range(1, n+1):
    if x <= n:
      fact = fact*i
    print(fact, i)

15

问题3

问题：使用给定的整数n，编写程序以生成包含（i，ixi）的字典，该字典为1到n之间的整数（都包括在内）。然后程序应打印字典。假设向程序提供了以下输入：8\
然后，输出应为：
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}
提示：
如果将输入数据提供给问题，则应假定它是控制台输入。考虑使用dict（）

In [ ]:
# use for loop

n = int(input("Enter an integer:"))
ans = {}
for i in range (1, n+1):
  ans[i] = i * i
print(ans)

Enter an integer:15
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [ ]:
# use dictionary to code

n = int(input("Enter an interger:"))
ans  = {i: i**2 for i in range(1, n+1)}
print(ans)

Enter an interger:15
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [ ]:
# 演进

try:
    num = int(input("Enter a number: ")) # After try is the condition that needs to be met.
except ValueError as err: # to handle errors
    print(err)

# to set dictio to be a dictionary
dictio = dict()
for item in range(1,num+1):
   # if item == 0:
       # continue
    #else:
      dictio[item] = item * item
print(dictio)

Enter a number: 15
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [ ]:
values = ["a", "b", "c", "d"]
for index, value in enumerate(values, start=1):
  print(index, value)

1 a
2 b
3 c
4 d

In [ ]:
try:
  n = int(input("Enter an integer:"))
except ValueError as err:
  Print(err)

print(dict(enumerate([i*i for i in range(1, n+1)],1)))

Enter an integer:15
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [ ]:
# Question 4 Fibonacci sequence
# F1 = 1 (n=1)
# Fn = F[n-1] + F[n-2] (n>=2)

# take in the number of n and initialise a and b
def fib(n):
  n = int(input("Enter an integer:"))
  a = b = 1
  for i in range (n):
    print(a, end = " ")
    temp = b
    b = a + b
    a = temp
fib(n)
# I dont see the print function, why does it print here?

Enter an integer:15
1 1 2 3 5 8 13 21 34 55 89 144 233 377 610

In [ ]:
from re import A
a = int(input("Enter an integer - a:"))
n = int(input("Enter an integer - n:"))
s = 0
sn = [] #use [] to create an array
for i in range(n):
  s = a + s #add a before upgrade a's value
  a = a * 10
  print(s)
  sn.append(s) #use .append to add elements to arrays
print("The sum of the first {} number is:{}".format(n,sum(sn))) #need to practice the format print

Enter an integer - a:6
Enter an integer - n:5
6
66
666
6666
66666
The sum of the first 5 number is:74070

Question 6

Level 2

Question: Write a program that calculates and prints the value according to the given formula: Q = Square root of [(2 * C * D)/H] Following are the fixed values of C and H: C is 50. H is 30. D is the variable whose values should be input to your program in a comma-separated sequence. Example Let us assume the following comma separated input sequence is given to the program: 100,150,180 The output of the program should be: 18,22,24

Hints: If the output received is in decimal form, it should be rounded off to its nearest value (for example, if the output received is 26.0, it should be printed as 26) In case of input data being supplied to the question, it should be assumed to be a console input.

In [ ]:
import math
C = 50
H = 30
Q = [] # array could print to array
D = [x for x in input().split(',')] # at first, the input could be an array splited by comma with for loop
for d in D:
  Q.append(str(int(round(math.sqrt((2*C*float(d))/H))))) # remeber D as an array cannot be calculated in this formula
 #use .append to store elements to array
print(Q)

100,150,180
['18', '22', '24']

Question 7

Level 2

Question: Write a program which takes 2 digits, X,Y as input and generates a 2-dimensional array. The element value in the i-th row and j-th column of the array should be i*j. Note: i=0,1.., X-1; j=0,1,¡­Y-1. Example Suppose the following inputs are given to the program: 3,5 Then, the output of the program should be: [[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

Hints: Note: In case of input data being supplied to the question, it should be assumed to be a console input in a comma-separated form.

In [ ]:
dimensions = [int(x) for x in input().split(',')]
print(dimensions)
X = dimensions[0]
Y = dimensions[1]
print(X,Y)
a = [[0 for j in range(Y)] for i in range(X)] # dont quite understand. would like to learn how to create a array in certain row and col
for i in range(X):
  for j in range(Y):
    a[i][j] = i*j
    # a.append(a[i][j]) can not be used as the above function has already allocated elements to array
print(a)

3,5
[3, 5]
3 5
[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

Question 8

Level 2

Question: Write a program that accepts a comma separated sequence of words as input and prints the words in a comma-separated sequence after sorting them alphabetically. Suppose the following input is supplied to the program: without,hello,bag,world Then, the output should be: bag,hello,without,world

Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [ ]:
items  = [x for x in input().split(',')] # create a console input to create an array
items.sort() # use .sort() to sort the results alphabetically
print(" ".join(items)) # use join() function to print not as an array

without, hello, bag, world
 bag  hello  world without

Question 9

Level 2

Question£º Write a program that accepts sequence of lines as input and prints the lines after making all characters in the sentence capitalized. Suppose the following input is supplied to the program: Hello world Practice makes perfect Then, the output should be: HELLO WORLD PRACTICE MAKES PERFECT

Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [ ]:
lines = []
s = input()
while True:
  s = input()
  if s:
    lines.append(s.upper()) # print capital letter.
  else:
    break;

for sentence in lines: # loop the lines to print the sentence.
    print(sentence)

Hello
world
Practice
makes
perfect

WORLD
PRACTICE
MAKES
PERFECT

Question 10

Level 2

Question: Write a program that accepts a sequence of whitespace separated words as input and prints the words after removing all duplicate words and sorting them alphanumerically. Suppose the following input is supplied to the program: hello world and practice makes perfect and hello world again Then, the output should be: again and hello makes perfect practice world

Hints: In case of input data being supplied to the question, it should be assumed to be a console input. We use set container to remove duplicated data automatically and then use sorted() to sort the data.

In [ ]:
# remove duplicate values
s = input()
words = [word for word in s.split(" ")] # this is an array
print(" ".join(sorted(list(set(words))))) # remember how to join, sorted, list and use set to eliminate duplicates.

hello world and practice makes perfect and hello world again
again and hello makes perfect practice world

Question 11

Level 2

Question: Write a program which accepts a sequence of comma separated 4 digit binary numbers as its input and then check whether they are divisible by 5 or not. The numbers that are divisible by 5 are to be printed in a comma separated sequence. Example: 0100,0011,1010,1001 Then the output should be: 1010 Notes: Assume the data is input by console.

Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [ ]:
# don't quite understand this coding
value = []
items = [x for x in input().split(',')]
for p in items:
  intp = int(p,2) # don't quite understand this code
  if not intp%5:
    value.append(p)
print(','.join(value))

0100,0011,1010,1001
1010

Question 12

Level 2

Question: Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a comma-separated sequence on a single line.

Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [ ]:
# Don't quite understand
value = []
for i in range(1000, 3001):
  s = str(i) # why do we need to convert to str()
  if (int(s[0])%2==0) and (int(s[1])%2==0) and (int(s[2])%2==0) and (int(s[3])%2==0): #why is it like this?
    value.append(s)
print(",".join(value))

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888

Question 13

Level 2

Question: Write a program that accepts a sentence and calculate the number of letters and digits. Suppose the following input is supplied to the program: hello world! 123 Then, the output should be: LETTERS 10 DIGITS 3

Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [ ]:
s = input()
d = {"DIGITS":0, "LETTERS":0}
for c in s:
  if c.isdigit():
    d["DIGITS"]+=1
  elif c.isalpha():
    d["LETTERS"]+=1
  else:
    pass
print("LETTERS", d["LETTERS"])
print("DIGITS", d["DIGITS"])

# the other way to do it without using dictionary
p = input()
DIGITS = 0
LETTERS = 0
for c in p:
  if c.isdigit():
    DIGITS += 1
  elif c.isalpha():
    LETTERS += 1
  else:
    pass
print("LETTERS {0} DIGITS {1}".format(LETTERS,DIGITS))

hello world! 123
LETTERS 10
DIGITS 3
hello world! 123
LETTERS 10 DIGITS 3

Question 14

Level 2

Question: Write a program that accepts a sentence and calculate the number of upper case letters and lower case letters. Suppose the following input is supplied to the program: Hello world! Then, the output should be: UPPER CASE 1 LOWER CASE 9

Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [ ]:
from io import UnsupportedOperation
p = input()
u = 0
l = 0
for c in p: # for loop could loop through strings to check each letter or numbers
  if c.isupper():
    u += 1
  elif c.islower():
    l += 1
  else:
    pass
print("UPPER CASE {0} LOWER CASE {1}".format(u,l))

Hello world!
UPPER CASE 1 LOWER CASE 9

Question 15

Level 2

Question: Write a program that computes the value of a+aa+aaa+aaaa with a given digit as the value of a. Suppose the following input is supplied to the program: 9 Then, the output should be: 11106

Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [ ]:
# Solution 01 use %s to add the number together
a = input()
n1 = int( "%s" % a )
n2 = int( "%s%s" % (a,a) )
n3 = int( "%s%s%s" % (a,a,a) )
n4 = int( "%s%s%s%s" % (a,a,a,a) )
print(n1+n2+n3+n4)

9
11106

In [ ]:
# Solution 02
a = int(input())
n = 4

b1 = a
b2 = a*10 + a
b3 = a*(10**2) + a*(10**1) + a * (10**0)
b4 = a*(10**3) + a*(10**2) + a*(10**1) + a * (10**0)

print(b1)
print(b1)
print(b3)
print(b4)
print(b1+b2+b3+b4)

9
9
9
999
9999
11106

In [ ]:
# Solution 03
a = int(input())
b = 0
c = 0
n = 4

for i in range(1,n+1):
  b += a * (10**(i-1)) 
  # find the patterns by calculate the difference of two numbers
  # use loop and b += a*(10**(i-1)) to calculate individual "aaaa"
  # when i = 1, b1 =  0 + a * (10**(1-1)) = 9;
  # when i = 2, b2 = b1 + a * (10**(2-1)) = 9 + 90 = 99;
  # when i = 3, b3 = b2 + a * (10**(3-1)) = 99 + 900 = 999;
  # when i = 4, b4 = b3 + a * (10**(4-1)) = 999+ 9000 = 9999.
  print("b: {}".format(b))
  c += b
  # use loop and c += b to calculate total of a + aa + aaa + aaaa.
  # when i = 1, b1 = 9;    c1 =  0 + b1 = 0 + 9 = 9;
  # when i = 2, b2 = 99;   c2 = c1 + b2 = 9 + 99 = 108;
  # when i = 3, b3 = 999;  c3 = c2 + b3 = 108 + 999 = 1107;
  # when i = 4, b4 = 9999; c4 = c3 + b4 = 9999 + 1107 = 11106.
  print("c: {}".format(c))

print("Total: {}".format(c))

9
b: 9
c: 9
b: 99
c: 108
b: 999
c: 1107
b: 9999
c: 11106
Total: 11106

Question 16

Level 2

Question: Use a list comprehension to square each odd number in a list. The list is input by a sequence of comma-separated numbers. Suppose the following input is supplied to the program: 1,2,3,4,5,6,7,8,9 Then, the output should be: 1,3,5,7,9

Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [ ]:
# Solution 02
values = []
items = [int(x) for x in input().split(',')]
print(items)
for p in items:
  if int(p)%2 != 0:
    values.append(p)
# print(values)
print(",".join(str(x) for x in values)) 
# as values are an array, join can not connecct them.
# use for loop to loop through values array and then use str() to turn int to str.

1,2,3,4,5,6,7,8,9
[1, 2, 3, 4, 5, 6, 7, 8, 9]
1,3,5,7,9

In [ ]:
# Solution 01
values = input()
numbers = [x for x in values.split(",") if int(x)%2!=0]
print(numbers)
print(",".join(numbers))

1,2,3,4,5,6,7,8,9
['1', '3', '5', '7', '9']
1,3,5,7,9

Question 17

Level 2

Question: Write a program that computes the net amount of a bank account based a transaction log from console input. The transaction log format is shown as following: D 100 W 200

D means deposit while W means withdrawal. Suppose the following input is supplied to the program: D 300 D 300 W 200 D 100 Then, the output should be: 500

Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [ ]:
# dont understand
netAmount = 0
while True:
    s = input()
    if not s:
        break
    values = s.split(" ")
    operation = values[0]
    amount = int(values[1])
    if operation=="D":
        netAmount+=amount
    elif operation=="W":
        netAmount-=amount
    else:
        pass
print(netAmount)

KeyboardInterrupt: ignored

Question 18

Level 3

Question: A website requires the users to input username and password to register. Write a program to check the validity of password input by users. Following are the criteria for checking the password:

At least 1 letter between [a-z]
At least 1 number between [0-9]
At least 1 letter between [A-Z]
At least 1 character from [$#@]
Minimum length of transaction password: 6
Maximum length of transaction password: 12 Your program should accept a sequence of comma separated passwords and will check them according to the above criteria. Passwords that match the criteria are to be printed, each separated by a comma. Example If the following passwords are given as input to the program: ABd1234@1,a F1#,2w3E*,2We3345 Then, the output of the program should be: ABd1234@1
Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [ ]:
import re
pwd = (x for x in input().split(',')) 
# manual input() would need split with comma
value = []

for p in pwd:
  if len(p) >= 6 and len(p) <= 12:
    # check is p length is less than 6 or more than 12;
    # if so,continue to the next line
    # if not, pass the whole loop
    pass 
    # "pass": the execution would be passed to other codes. 
  else:
    continue
    # "continue": to skip the execution of other codes.
  
  if not re.search("[a-z]",p): 
    # use re.search("[a-z]",x) to search if, within x, there are a-z;
    # if not, skip this step to move onto next step
    continue
  elif not re.search("[A-Z]",p):
    # use re.search("[A-Z]",x) to search if, within x, there are A-Z;
    # if not, skip this step to move on to the next step
    continue
  elif not re.search("[1-9]",p):
    # use re.search("[1-9]",x) to search if, within x, there are 1-9;
    # if not, skip this step to move on to the next step
    continue
  elif not re.search("[$#@]",p):
    # use re.search("[$#@]",x) to search if, within x, there are signs;
    # if not, skip this step to move one to the next step
    continue
  elif re.search("\s",p):
    continue
  else:
    pass
  value.append(p)


print(",".join(value)) # to print the password separated by comma

ABd1234@1,a F1#,2w3E*,2We3345
ABd1234@1

Question 19 comments:
PASS VS. CONTINUE IN PYTHON EXPLAINED

**Break:** A break statement in Python alters the flow of a loop by terminating it once a specified condition is met.

**Continue:** The continue statement in Python is used to skip the remaining code inside a loop for the current iteration only.

**Pass:** The pass statement in Python is used when a statement or a condition is required to be present in the program, but we don’t want any command or code to execute. It’s typically used as a placeholder for future code.

Question 19

Level 3

Question: You are required to write a program to sort the (name, age, height) tuples by ascending order where name is string, age and height are numbers. The tuples are input by console. The sort criteria is: 1: Sort based on name; 2: Then sort based on age; 3: Then sort by score. The priority is that name > age > score. If the following tuples are given as input to the program: Tom,19,80 John,20,90 Jony,17,91 Jony,17,93 Json,21,85 Then, the output of the program should be: [('John', '20', '90'), ('Jony', '17', '91'), ('Jony', '17', '93'), ('Json', '21', '85'), ('Tom', '19', '80')]

Hints: In case of input data being supplied to the question, it should be assumed to be a console input. We use itemgetter to enable multiple sort keys.

In [ ]:
# dont understand. the code cannot be executed.
names = []
while True:
  s = input().split(',')
  if not s:
    break
  names.append(tuple(s))

print(sorted(names, key=itemgetter(0,1,2)))

Tom,19,80
John,20,90
John,20,90
Jony,17,93
Json,21,85

KeyboardInterrupt: ignored

Question 20

Level 3

Question: Define a class with a generator which can iterate the numbers, which are divisible by 7, between a given range 0 and n.

Hints: Consider use yield

In [ ]:
# Nothing happened when the code is executed.
def putNumbers(n):
  i = 0
  while i<n:
    j=i
    i=i+1
    if j%7==0:
      yield j
      print(j)

### What is generator?
Introduced with PEP 255, generator functions are a special kind of function that return a lazy iterator. These are objects that you can loop over like a list. However, unlike lists, lazy iterators do not store their contents in memory. 

### Yield vs. Return
When the Python yield statement is hit, the program suspends function execution and returns the yielded value to the caller. (In contrast, return stops function execution completely.) When a function is suspended, the state of that function is saved. This includes any variable bindings local to the generator, the instruction pointer, the internal stack, and any exception handling.

This allows you to resume function execution whenever you call one of the generator’s methods. In this way, all function evaluation picks back up right after yield.

# Question 21

Level 3

Question A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps. The trace of robot movement is shown as the following: UP 5 DOWN 3 LEFT 3 RIGHT 2 ¡­ The numbers after the direction are steps. Please write a program to compute the distance from current position after a sequence of movement and original point. If the distance is a float, then just print the nearest integer. Example: If the following tuples are given as input to the program: UP 5 DOWN 3 LEFT 3 RIGHT 2 Then, the output of the program should be: 2

Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [ ]:
### Standard Solution:
# use tuple to calculate movements
import math # use math module to calculate square root;
pos = [0,0] # locate the original location;
while True: # this while loop will run forever without break;
    s = input()
    if not s:
        break # this break will end the while loop;
    movement = s.split(" ") # create a tuple;
    direction = movement[0] # allocate tuple name;
    steps = int(movement[1]) # allocate tuple value;
    if direction=="UP": # check tuple first column;
        pos[0]+=steps # calculate tuple second column value;
    elif direction=="DOWN": 
        pos[0]-=steps
    elif direction=="LEFT":
        pos[1]-=steps
    elif direction=="RIGHT":
        pos[1]+=steps
    else:
        pass # Pass is part of while True loop.

print(int(round(math.sqrt(pos[1]**2+pos[0]**2))))
# use gogoo Therom to calculate the distance.

UP 5
DOWN 3
LEFT 3
RIGHT 2

2

## Tuple index
Tuple items are ordered, unchangeable, and allow duplicate values.

Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

# Question 22

Level 3

Question: Write a program to compute the frequency of the words from the input. The output should output after sorting the key alphanumerically. Suppose the following input is supplied to the program: New to Python or choosing between Python 2 and Python 3? Read Python 2 or Python 3. Then, the output should be: 2:2 3.:1 3?:1 New:1 Python:5 Read:1 and:1 between:1 choosing:1 or:2 to:1

Hints In case of input data being supplied to the question, it should be assumed to be a console input.

In [ ]:
### Standard Solution:

freq = {}   # create a dictionary
line = input().split() # take inputs
for word in line: #loop all the word in line
    freq[word] = freq.get(word,0)+1
    # use .get() to count the number of word
    ### remember first; dont really understand this apoproach;
    print(freq)

words = freq.keys() # count the number of keys in the dictionary
print(words)
print(type(words))
# words.sort()

for w in words:
    print("%s:%d" % (w,freq[w]))

New to Python or choosing between Python 2 and Python 3? Read Python 2 or Python 3
{'New': 1}
{'New': 1, 'to': 1}
{'New': 1, 'to': 1, 'Python': 1}
{'New': 1, 'to': 1, 'Python': 1, 'or': 1}
{'New': 1, 'to': 1, 'Python': 1, 'or': 1, 'choosing': 1}
{'New': 1, 'to': 1, 'Python': 1, 'or': 1, 'choosing': 1, 'between': 1}
{'New': 1, 'to': 1, 'Python': 2, 'or': 1, 'choosing': 1, 'between': 1}
{'New': 1, 'to': 1, 'Python': 2, 'or': 1, 'choosing': 1, 'between': 1, '2': 1}
{'New': 1, 'to': 1, 'Python': 2, 'or': 1, 'choosing': 1, 'between': 1, '2': 1, 'and': 1}
{'New': 1, 'to': 1, 'Python': 3, 'or': 1, 'choosing': 1, 'between': 1, '2': 1, 'and': 1}
{'New': 1, 'to': 1, 'Python': 3, 'or': 1, 'choosing': 1, 'between': 1, '2': 1, 'and': 1, '3?': 1}
{'New': 1, 'to': 1, 'Python': 3, 'or': 1, 'choosing': 1, 'between': 1, '2': 1, 'and': 1, '3?': 1, 'Read': 1}
{'New': 1, 'to': 1, 'Python': 4, 'or': 1, 'choosing': 1, 'between': 1, '2': 1, 'and': 1, '3?': 1, 'Read': 1}
{'New': 1, 'to': 1, 'Python': 4, 'or': 1, 'choosing': 1, 'between': 1, '2': 2, 'and': 1, '3?': 1, 'Read': 1}
{'New': 1, 'to': 1, 'Python': 4, 'or': 2, 'choosing': 1, 'between': 1, '2': 2, 'and': 1, '3?': 1, 'Read': 1}
{'New': 1, 'to': 1, 'Python': 5, 'or': 2, 'choosing': 1, 'between': 1, '2': 2, 'and': 1, '3?': 1, 'Read': 1}
{'New': 1, 'to': 1, 'Python': 5, 'or': 2, 'choosing': 1, 'between': 1, '2': 2, 'and': 1, '3?': 1, 'Read': 1, '3': 1}
dict_keys(['New', 'to', 'Python', 'or', 'choosing', 'between', '2', 'and', '3?', 'Read', '3'])
<class 'dict_keys'>
New:1
to:1
Python:5
or:2
choosing:1
between:1
2:2
and:1
3?:1
Read:1
3:1

# Question 23

level 1

Question: Write a method which can calculate square value of number

Hints: Using the ** operator

In [ ]:
# Solution 1
def square(x):
  return int(x)**2

print(square(input()))

15
225

In [ ]:
# Solution 2:

def square(num):
    return num ** 2

print(square(2))
print(square(3))

# Question 24

Level 1

Question:

Python has many built-in functions, and if you do not know how to use it, you can read document online or find some books. But Python has a built-in document function for every built-in functions.

Please write a program to print some Python built-in functions documents, such as abs(), int(), raw_input()

And add document for your own function Hints: The built-in document method is doc

In [ ]:
# Standard Solution:
# the built-in document method ._doc_

print(abs.__doc__)
print(int.__doc__)
print(input.__doc__)

def square(num):
    '''Return the square value of the input number.
    
    The input number must be integer.
    '''
    return num ** 2

print(square(2))
print(square.__doc__)

Return the absolute value of the argument.
int([x]) -> integer
int(x, base=10) -> integer

Convert a number or string to an integer, or return 0 if no arguments
are given.  If x is a number, return x.__int__().  For floating point
numbers, this truncates towards zero.

If x is not a number or if base is given, then x must be a string,
bytes, or bytearray instance representing an integer literal in the
given base.  The literal can be preceded by '+' or '-' and be surrounded
by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
Base 0 means to interpret the base from the string as an integer literal.
>>> int('0b100', base=0)
4
Forward raw_input to frontends

        Raises
        ------
        StdinNotImplentedError if active frontend doesn't support stdin.

4
Return the square value of the input number.

    The input number must be integer.

In [ ]:
# Slolution:

def square(x):
  return x**2

print(square.__doc__)

None

In [ ]:
# .__doc__ explanation
The signs beside doc are two underscore signs.

# Question 26:

Define a function which can compute the sum of two numbers.

Hints: Define a function with two numbers as arguments. You can compute the sum in the function and return the value.

In [ ]:
def sum(x, y):
  return x + y
print(sum(44,44))

88

# Question 27

Define a function that can convert a integer into a string and print it in console.

Hints:

Use str() to convert a number to string.

In [ ]:
# Solution 1:
def int_to_str(x):
  return str(x)

y = int_to_str(10)
print(y)
print(type(y))

10
<class 'str'>

In [ ]:
# Standard Solution:

def printValue(n):
    print(str(n))

printValue(3)

# Question 29

Define a function that can receive two integral numbers in string form and compute their sum and then print it in console.

Hints:

Use int() to convert a string to integer.

In [ ]:
def convert(x,y):
  print(int(x)+int(y))

print(convert("3","4"))

7
None

# Question 30

Define a function that can accept two strings as input and concatenate them and then print it in console.

Hints:

Use + to concatenate the strings

In [ ]:
def con(x,y):
  print(x+y)

con("God's", " Help")

God's Help

# Question 31

Define a function that can accept two strings as input and print the string with maximum length in console. If two strings have the same length, then the function should print al l strings line by line.

Hints:

Use len() function to get the length of a string

In [ ]:
s1 = input("Enter s1:",)
s2 = input("Enter s2:",)

def ComV(x, y):
  if len(x) > len(y):
    print(x)
  elif len(x)< len(y):
    print(y)
  else:
    print(x)
    print(y)

ComV(s1,s2)

Enter s1:God's
Enter s2:help
God's

# Question 32

Define a function that can accept an integer number as input and print the "It is an even number" if the number is even, otherwise print "It is an odd number".

Hints:

Use % operator to check if a number is even or odd.

In [ ]:
# Solution:

def f(x): 
  # When defining the function, there is no need to add in input()
  # you can add in input() to replace x in f(x)
  if x%2 == 0:
    print("This is an even number")
  else:
    print("This is an odd number")

n = int(input())
f(n)

90
This is an even number

# Question 33

Define a function which can print a dictionary where the keys are numbers between 1 and 3 (both included) and the values are square of keys.

Hints:

Use dict[key]=value pattern to put entry into a dictionary.

Use ** operator to get power of a number.

In [ ]:
# Solution:
def PDict():
  d = dict() # create a dictionary
  d[1] = 1
  d[2] = 2**2
  d[3] = 3**2
  print(d)

PDict()

{1: 1, 2: 4, 3: 9}

In [ ]:
# one further solution
# generate any dictionary object

def Pdict():
  n = int(input())
  d = dict() #create a dictionary
  for i in range(1,n+1):
    d[i] = i**2
  print(d)

Pdict()

20
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}

# Question 34

Define a function which can print a dictionary where the keys are numbers between 1 and 20 (both included) and the values are square of keys.

Hints:

Use dict[key]=value pattern to put entry into a dictionary. Use ** operator to get power of a number. Use range() for loops.

In [ ]:
# Solution

def create_dict(x):
  d = dict()
  for i in range(1,x+1):
    d[i] = i**2
  print(d)

create_dict(20)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}

# Question 35

Define a function which can generate a dictionary where the keys are numbers between 1 and 20 (both included) and the values are square of keys. The function should just print the values only.

Hints:

Use dict[key]=value pattern to put entry into a dictionary. Use ** operator to get power of a number. Use range() for loops. Use keys() to iterate keys in the dictionary. Also we can use item() to get key/value pairs.

In [ ]:
# solution 1:

def print_dict(n):
  d = dict()
  e = []
  for i in range(1, n+1):
    d[i] = i**2 
    # allocate keys and values to the dictionary
  for k, v in d.items():
    # use for loop to fetch values from dictionary via d.items()
    e.append(v)
  print(e)

print_dict(20)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [ ]:
# solution 2:

def print_dict(n):
  d = dict()
  e = []
  for i in range(1, n+1):
    d[i] = i**2 
    # allocate keys and values to the dictionary
  for k, v in d.items():
    # use for loop to fetch values from dictionary via d.items()
    print(v)

print_dict(20)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400

In [ ]:
# solution 3:

def print_dict(n):
  d = dict()
  e = []
  for i in range(1, n+1):
    d[i] = i**2 
    # allocate keys and values to the dictionary
  for k, v in d.items():
    # use for loop to fetch values from dictionary via d.items()
    e.append(str(v))
    # allocate values to the list e
    # e is an iterable 
  print(",".join(e))
  # .join() is string join not integer join

print_dict(20)

1,4,9,16,25,36,49,64,81,100,121,144,169,196,225,256,289,324,361,400

# Question 36

Define a function which can generate a dictionary where the keys are numbers between 1 and 20 (both included) and the values are square of keys. The function should just print the keys only.

Hints:

Use dict[key]=value pattern to put entry into a dictionary. Use ** operator to get power of a number. Use range() for loops. Use keys() to iterate keys in the dictionary. Also we can use item() to get key/value pairs.

In [ ]:
# Solution 1

def PrintDict(x):
  d = dict() # create an empty dict to hold the future dict
  e = [] # create an empty list to hold keys and values
  for i in range(1, x+1):
    d[i] = i**2 # allocate keys and values to dict
  print(d)
  for k in d.keys(): # fetch keys from dict
    e.append(str(k))
  print(e)
  print(",".join(e))

PrintDict(20)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}
['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20']
1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20

In [ ]:
# Solution 2
def printDict():
	d=dict()
	for i in range(1,21):
		d[i]=i**2
	for (k,v) in d.items():	# use d.items() to fetch keys and items
		print(k)

printDict()

In [ ]:
# Solution 3
def printDict():
	d=dict()
	for i in range(1,21):
		d[i]=i**2
	for k in d.keys():	# use d.keys() to fetch keys only
		print(k)

printDict()

# Question 37

Define a function which can generate and print a list where the values are square of numbers between 1 and 20 (both included).

Hints:

Use ** operator to get power of a number. Use range() for loops. Use list.append() to add values into a list.

In [ ]:
# Solution 1:
def print_list(x):
  list = [] # create an empty list to hold the future elements;
  for i in range(1,x+1):
    list.append(i**2) # allocate values to the list
  print(list) # print list directly

print_list(20)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

# Question 38

Define a function which can generate a list where the values are square of numbers between 1 and 20 (both included). Then the function needs to print the first 5 elements in the list.

Hints:

Use ** operator to get power of a number. Use range() for loops. Use list.append() to add values into a list. Use [n1:n2] to slice a list

In [ ]:
# Solution 1:

def print_list5(x):
  li = list() 
# the other way of creating a list;
  for i in range(1, x+1):
    li.append(i**2)
  print(li[:5])

print_list5(20)

[1, 4, 9, 16, 25]

# Create a list

How to create an empty list using square brackets [].
How to create an empty list using list().

We will use the timeit module to compare them.

# Add Elements to an Empty List

You can add elements to an empty list using the methods append() and insert():

append() adds the element to the end of the list.
insert() adds the element at the particular index of the list that you choose.

**Examples:**

Append() and Insert()
```
>>> num = []
>>> for i in range(3, 15, 2):
	num.append(i)
```

```
>>> num = []
>>> num.insert(0, 1.5) # add the float 1.5 at index 0
>>> num
[1.5]
```
# List with First N Elements using Slicing
```
source_list = [8, 4, 7, 3, 6, 1, 9]
N = 4
new_list = source_list[:N]
print(source_list)
print(new_list)
```

# Question 39

Define a function which can generate a list where the values are square of numbers between 1 and 20 (both included). Then the function needs to print the last 5 elements in the list.

Hints:

Use ** operator to get power of a number. Use range() for loops. Use list.append() to add values into a list. Use [n1:n2] to slice a list

In [ ]:
# Solution 1:

def print_last(x):
  li = list()
  for i in range(1,x+1):
    li.append(i**2)
  print(li[16:20])

print_last(20)

[289, 324, 361, 400]

In [ ]:
# Solution 2:
def printList():
	li=list()
	for i in range(1,21):
		li.append(i**2)
	print(li[-5:])

printList()

[256, 289, 324, 361, 400]

# Question 40

Define a function which can generate a list where the values are square of numbers between 1 and 20 (both included). Then the function needs to print all values except the first 5 elements in the list.

Hints:

Use ** operator to get power of a number. Use range() for loops. Use list.append() to add values into a list. Use [n1:n2] to slice a list

In [ ]:
# Solution 01

def print_others(x):
  li = list()
  for i in range(1, x+1):
    li.append(i**2)
  print(li[5:]) # print the list from the first 5 elements in the list.

print_others(20)

[36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

# Question 41

Define a function which can generate and print a tuple where the value are square of numbers between 1 and 20 (both included).

Hints:

Use ** operator to get power of a number. Use range() for loops. Use list.append() to add values into a list. Use tuple() to get a tuple from a list.

In [ ]:
# Solution 01:

def print_tuple(x):
  li = list()
  for i in range(1, x+1):
    li.append(i**2)
  print(tuple(li)) # use tuple() to get a tuple from a list

print_tuple(20)

(1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400)

# Question 42

With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

Hints:

Use [n1:n2] notation to get a slice from a tuple.

In [ ]:
# Solution 01:

tuple = (1,2,3,4,5,6,7,8,9,10)
print(tuple[:5])
print(tuple[5:])

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

In [ ]:
# Standard Solution:

tp=(1,2,3,4,5,6,7,8,9,10)
tp1=tp[:5]
tp2=tp[5:]
print(tp1)
print(tp2)

# Question 43

Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10).

Hints:

Use "for" to iterate the tuple Use tuple() to generate a tuple from a list.

In [ ]:
# Solution 01:

def printEven():
  tp = (1,2,3,4,5,6,7,8,9,10)
  li = list()
  print(len(tp))
  for i in range(len(tp)):
    print(i)
    if tp[i]%2==0:
      # when loop through tuple index, remeber to loop through len() of tuple.
      # or the index would be out of range.
      li.append(tp[i])
  
  print(li)

printEven()

10
0
1
2
3
4
5
6
7
8
9
[2, 4, 6, 8, 10]

In [ ]:
# Solution 02

def PrintList():
  tp = (1,2,3,4,5,6,7,8,9,10)
  li = list()
  for i in tp: 
    # when loop though tuple values, i is the tuple value. 
    # note to compare with solution 01
    if i%2 == 0:
      li.append(i)
  print(li) # dont know why tuple() does not work.

PrintList()

[2, 4, 6, 8, 10]

# Question 44

Write a program which accepts a string as input to print "Yes" if the string is "yes" or "YES" or "Yes", otherwise print "No".

Hints:

Use if statement to judge condition.

In [ ]:
str = input()
if str == "yes" or str == "YES" or str == "Yes":
  print("Yes")
else:
  print("No")

dsa
No

# Question 45

Write a program which can filter even numbers in a list by using filter function. The list is: [1,2,3,4,5,6,7,8,9,10].

Hints:

Use filter() to filter some elements in a list. Use lambda to define anonymous functions.

In [ ]:
# Standard Solution:
li = [1,2,3,4,5,6,7,8,9,10]
evenNumber = list(filter(lambda x: x%2==0,li))
# use filter to select even numbers from the list called "li"
print(evenNumber)
print(li)

[2, 4, 6, 8, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Question 46

Write a program which can map() to make a list whose elements are square of elements in [1,2,3,4,5,6,7,8,9,10].

Hints Use map() to generate a list. Use lambda to define anonymous functions.

In [ ]:
# Standard Solution:
li = [1,2,3,4,5,6,7,8,9,10]
squaredNumbers = list(map(lambda x: x**2, li))
# Note map(func, list)
print(squaredNumbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# The map() Function

As we have mentioned earlier, the advantage of the lambda operator can be seen when it is used in combination with the map() function. map() is a function which takes two arguments:

r = map(func, seq)

The first argument func is the name of a function and the second a sequence (e.g. a list) seq. map() applies the function func to all the elements of the sequence seq.

# The Filter() Function

The function

filter(function, sequence)

offers an elegant way to filter out all the elements of a sequence "sequence", for which the function function returns True. i.e. an item will be produced by the iterator result of filter(function, sequence) if item is included in the sequence "sequence" and if function(item) returns True.

In other words: The function filter(f,l) needs a function f as its first argument. f has to return a Boolean value, i.e. either True or False. This function will be applied to every element of the list l. Only if f returns True will the element be produced by the iterator, which is the return value of filter(function, sequence).

In the following example, we filter out first the odd and then the even elements of the sequence of the first 11 Fibonacci numbers:
```
fibonacci = [0,1,1,2,3,5,8,13,21,34,55]
odd_numbers = list(filter(lambda x: x % 2, fibonacci))
print(odd_numbers)
```

# Question 47

Write a program which can map() and filter() to make a list whose elements are square of even number in [1,2,3,4,5,6,7,8,9,10].

Hints Use map() to generate a list. Use filter() to filter elements of a list. Use lambda to define anonymous functions.

In [ ]:
# Standard Solution:
li = [1,2,3,4,5,6,7,8,9,10]
evenNumbers = list(map(lambda x: x**2, list(filter(lambda x: x%2 == 0,li))))
print(evenNumber)

[2, 4, 6, 8, 10]

# Question 48

Write a program which can filter() to make a list whose elements are even number between 1 and 20 (both included).

Hints:

Use filter() to filter elements of a list. Use lambda to define anonymous functions.

In [ ]:
# Solution 01:
li = []
for i in range(1,21):
  li.append(i)

evenNumbers = list(filter(lambda x: x%2 == 0,li))
print(evenNumbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
# Standard Soluiton:
evenNumbers = list(filter(lambda x: x%2==0, range(1,21)))
print(evenNumbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

# Question 49

Write a program which can map() to make a list whose elements are square of numbers between 1 and 20 (both included).

Hints Use map() to generate a list. Use lambda to define anonymous functions

In [ ]:
#my solution:
squaredNumbers = []
squaredNumbers = list(map(lambda x: x**2, range(1,21)))
print(squaredNumbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [ ]:
#Standard Solution:
squaredNumbers = list(map(lambda x: x**2, range(1,21)))
print(squaredNumbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

# Question 50

Define a class named American which has a static method called printNationality.

Hints: Use @staticmethod decorator to define class static method.

In [ ]:
# Standard Solution:

class American(object):
    @staticmethod
    def printNationality():
        print("America")

anAmerican = American()
anAmerican.printNationality()
American.printNationality()

America
America

# Question 51

Define a class named American and its subclass NewYorker.

Hints:

Use class Subclass(ParentClass) to define a subclass.

In [ ]:
class Amerian(object):
  pass

class NewYorker(American):
  pass

anAmerican = American()
aNewYorker = NewYorker()
print(anAmerican)
print(aNewYorker)

In [ ]:
class American(object):
    pass

class NewYorker(American):
    pass

anAmerican = American()
aNewYorker = NewYorker()
print(anAmerican)
print(aNewYorker)

<__main__.American object at 0x7fd479eecd30>
<__main__.NewYorker object at 0x7fd479eecca0>

# Question 52

Define a class named Circle which can be constructed by a radius. The Circle class has a method which can compute the area.

Hints:

Use def methodName(self) to define a method.

In [8]:
# Solution:

class Circle:
  def __init__(self,r):
    self.radius = r

  def area(self):
    return self.radius**2*3.14

Circle1 = Circle(2)
Circle1.area() # can not use print

12.56

In [13]:
class Circle:
  def __init__(self, r):
    self.radius = r

  def area(self):
    return self.radius**2*3.14

aCircle = Circle(2)
aCircle.area()

12.56

# Question 53

Define a class named Rectangle which can be constructed by a length and width. The Rectangle class has a method which can compute the area.

Hints:

Use def methodName(self) to define a method.

In [17]:
# Solution
class Rectangle():
  def __init__(self,l,w):
    self.length = l
    self.width = w
  
  def area(self):
    return self.length*self.width

aRectangle = Rectangle(100,48)

aRectangle.area()

4800

# Question 54

Define a class named Shape and its subclass Square. The Square class has an init function which takes a length as argument. Both classes have a area function which can print the area of the shape where Shape's area is 0 by default.

Hints:

To override a method in super class, we can define a method with the same name in the super class.

In [18]:
# Standard Solution:

class Shape(object):
  def __init__(self):
    pass

  def area(self):
    return 0
# the rest is easy to understand, but dont know why we create the subclass
class Square(Shape):
  def __init__(self,length):
    Shape.__init__(self)
    self.length = 1

  def area(self):
    return self.length*self.length

aSquare = Square(3)
aSquare.area()

1

# Question 55

Please raise a RuntimeError exception.

Hints:

Use raise() to raise an exception.

In [19]:
raise RuntimeError('something wrong')

RuntimeError: ignored

# Question 56

Write a function to compute 5/0 and use try/except to catch the exceptions.

Hints:

Use try/except to catch exceptions.

In [23]:
# Old solution is not correct
def throws():
  return 5/0

try:
  throws()
except ZeroDivisionError:
  print("division by zero!")
except Exception as err:
  print('Caught an exception'+err)
finally:
  print('In finally block for cleanup')

division by zero!
In finally block for cleanup

# Question 57

Define a custom exception class which takes a string message as attribute.

Hints:

To define a custom exception, we need to define a class inherited from Exception.

In [28]:
# Solution:

class MyError(Exception):
    """My own exception class

    Attributes:
        msg  -- explanation of the error
    """
    
    def __init__(self, msg):
        self.msg = msg

error = MyError("something wrong")
error.msg # attribute should not have ()

'something wrong'

# Question 58

Assuming that we have some email addresses in the "username@companyname.com" format, please write program to print the user name of a given email address. Both user names and company names are composed of letters only.

Example: If the following email address is given as input to the program:

john@google.com

Then, the output of the program should be:

john

In case of input data being supplied to the question, it should be assumed to be a console input.

In [29]:
# Learn regular expression; this solution is wrong
email = input()
import re
pat2 = "(\w+)@((\w+\.)+(com))"
r2 = re.match(pat2,email)
print(r2.group(1))

nickhan.ca@gmail.com

AttributeError: ignored

# Question 59

Assuming that we have some email addresses in the "username@companyname.com" format, please write program to print the company name of a given email address. Both user names and company names are composed of letters only.

Example: If the following email address is given as input to the program:

john@google.com

Then, the output of the program should be:

google

In case of input data being supplied to the question, it should be assumed to be a console input.

Hints:

Use \w to match letters.

In [31]:
import re
emailAddress = input()
pat2 = "(\w+)@(\w+)\.(com)"
r2 = re.match(pat2,emailAddress)
print(r2.group(2))

nickhan.ca@gmail.com

AttributeError: ignored

# Question 60

Write a program which accepts a sequence of words separated by whitespace as input to print the words composed of digits only.

Example: If the following words is given as input to the program:

2 cats and 3 dogs.

Then, the output of the program should be:

['2', '3']

In case of input data being supplied to the question, it should be assumed to be a console input.

Hints:

Use re.findall() to find all substring using regex.

In [2]:
  import re
  s = input().split(" ")
  re.findall("\d+",s)

10 cats and 40 dogs

TypeError: ignored

# Question 61

Print a unicode string "hello world".

Hints:

Use u'strings' format to define unicode string.

In [3]:
unicodeString = u"hello world!"
print(unicodeString)

hello world!

# Question 62

Write a program to read an ASCII string and to convert it to a unicode string encoded by utf-8.

Hints:

Use unicode() function to convert.

In [4]:
s = input()
u = unicode(s, "utf-8")
print(u)

hello world

NameError: ignored

# Question 63

Write a special comment to indicate a Python source code file is in unicode.

In [5]:
# -*- coding: utf-8 -*-

#--------------------------------#

# Question 64

Write a program to compute 1/2+2/3+3/4+...+n/n+1 with a given n input by console (n>0).

Example: If the following n is given as input to the program:

5

Then, the output of the program should be:

3.55

In case of input data being supplied to the question, it should be assumed to be a console input.

Hints: Use float() to convert an integer to a float

In [17]:
# Solution:
n = int(input())
r = 0
for i in range(1,n+1):
  r = r + i/(i+1)
  i += 1
print(format(r,".2f"))
print(round(r,2))

KeyboardInterrupt: ignored

In [18]:
# Standard Solution:
n=int(input())
sum=0.0
for i in range(1,n+1):
    sum += float(float(i)/(i+1))
print(sum)

5
3.5500000000000003

# Question 65

Write a program to compute:

f(n)=f(n-1)+100 when n>0 and f(0)=1

with a given n input by console (n>0).

Example: If the following n is given as input to the program:

5

Then, the output of the program should be:

500

In case of input data being supplied to the question, it should be assumed to be a console input.

Hints: We can define recursive function in Python.

In [ ]:
# Solution:

n = int(input())
def f(n):
  if n == 0:
    return 0
  if n>0:
    return f(n-1) +100

f(n)

In [ ]:
# Standard Solution:
def f(n):
    if n==0:
        return 0
    else:
        return f(n-1)+100

n=int(input())
print(f(n))

# Question 66

The Fibonacci Sequence is computed based on the following formula:

f(n)=0 if n=0 f(n)=1 if n=1 f(n)=f(n-1)+f(n-2) if n>1

Please write a program to compute the value of f(n) with a given n input by console.

Example: If the following n is given as input to the program:

7

Then, the output of the program should be:

13

In case of input data being supplied to the question, it should be assumed to be a console input.

Hints: We can define recursive function in Python.

In [2]:
# Solution:
n = int(input())

def f(n):
  if n == 0:
    return 0
  if n == 1:
    return 1
  if n>1:
    return f(n-1)+f(n-2)

print(f(n))

7
13

In [ ]:
# standard Solution:
def f(n):
    if n == 0: return 0
    elif n == 1: return 1
    else: return f(n-1)+f(n-2)

n=int(input())
print(f(n))

# Question 67

The Fibonacci Sequence is computed based on the following formula:

f(n)=0 if n=0 f(n)=1 if n=1 f(n)=f(n-1)+f(n-2) if n>1

Please write a program using list comprehension to print the Fibonacci Sequence in comma separated form with a given n input by console.

Example: If the following n is given as input to the program:

7

Then, the output of the program should be:

0,1,1,2,3,5,8,13

Hints: We can define recursive function in Python. Use list comprehension to generate a list from an existing list. Use string.join() to join a list of strings.

In case of input data being supplied to the question, it should be assumed to be a console input.

In [6]:
# Solution:

n = int(input())
li = list()

def f(n):
  if n == 0: return 0
  if n == 1: return 1
  if n > 1: return f(n-1)+f(n-2)

li = (str(f(x)) for x in range(0, n+1))
print(li)
print(",".join(li))

7
<generator object <genexpr> at 0x7f12bb88bcf0>
0,1,1,2,3,5,8,13

# Question 68

Please write a program using generator to print the even numbers between 0 and n in comma separated form while n is input by console.

Example: If the following n is given as input to the program:

10

Then, the output of the program should be:

0,2,4,6,8,10

Hints: Use yield to produce the next value in generator.

In case of input data being supplied to the question, it should be assumed to be a console input.

In [4]:
# My Solution:
n = int(input())
li = [] # use list[] to store numbers
for i in range(0,n+1): # use for loop to generate list elements
  if i%2==0:
    li.append(str(i))
print(",".join(li)) # print list as separate numbers

10
0,2,4,6,8,10

In [7]:
# Standard Solution:
def EvenGenerator(n): # use while...if...yield...i+= 1 to replace for loop
    i=0
    while i<=n:
        if i%2==0:
            yield i
        i+=1


n=int(input())
values = []
for i in EvenGenerator(n):
    values.append(str(i))

print(",".join(values))

100
0,2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66,68,70,72,74,76,78,80,82,84,86,88,90,92,94,96,98,100

# Question 69

Please write a program using generator to print the numbers which can be divisible by 5 and 7 between 0 and n in comma separated form while n is input by console.

Example: If the following n is given as input to the program:

100

Then, the output of the program should be:

0,35,70

Hints: Use yield to produce the next value in generator.

In case of input data being supplied to the question, it should be assumed to be a console input.

In [12]:
# My Solutions: !!!why is while...if...i+=1 too slow?

# Create a generator to judge if the number can be divisible by 5 and 7;
def generator(n):
  for i in range(0,n+1):
    if i%5==0 and i%7==0:
      yield i

li = []
n = int(input())
for i in generator(n): # use the generator to judge the number
  li.append(str(i))

print(",".join(li))

100
0,35,70

In [10]:
# Standard Solution:

def NumGenerator(n):
    for i in range(n+1):
        if i%5==0 and i%7==0:
            yield i

n=int(input())
values = []
for i in NumGenerator(n):
    values.append(str(i))

print(",".join(values))

100
0,35,70

# Question 70

Please write assert statements to verify that every number in the list [2,4,6,8] is even.

Hints: Use "assert expression" to make assertion.

In [14]:
# Standard Solution:

li = [2,4,6,8]
for i in li:
  assert i%2==0

# Question 71

Please write a program which accepts basic mathematic expression from console and print the evaluation result.

Example: If the following string is given as input to the program:

35+3

Then, the output of the program should be:

38

Hints: Use eval() to evaluate an expression.

In [15]:
exp = input()
print(eval(exp))

35+3
38

# Question 72

Please write a binary search function which searches an item in a sorted list. The function should return the index of element to be searched in the list.

Hints: Use if/elif to deal with conditions.

In [18]:
# Standard Solution: Don't understand; Try to learn math module;

import math
def bin_search(li, element):
    bottom = 0
    top = len(li)-1
    index = -1
    while top>=bottom and index==-1:
        mid = int(math.floor((top+bottom)/2.0))
        if li[mid]==element:
            index = mid
        elif li[mid]>element:
            top = mid-1
        else:
            bottom = mid+1

    return index

li=[2,5,7,9,11,17,222]
print(len(li))
print(bin_search(li,11))
print(bin_search(li,12))

7
4
-1

# Question 73

Please write a binary search function which searches an item in a sorted list. The function should return the index of element to be searched in the list.

Hints: Use if/elif to deal with conditions.

In [19]:
import math
def bin_search(li, element):
    bottom = 0
    top = len(li)-1
    index = -1
    while top>=bottom and index==-1:
        mid = int(math.floor((top+bottom)/2.0))
        if li[mid]==element:
            index = mid
        elif li[mid]>element:
            top = mid-1
        else:
            bottom = mid+1

    return index

li=[2,5,7,9,11,17,222]
print(bin_search(li,11))
print(bin_search(li,12))

4
-1

# Question 74

Please generate a random float where the value is between 10 and 100 using Python math module.

Hints: Use random.random() to generate a random float in [0,1].

In [30]:
# why does this could generate a random float between 10 and 100?
import random
print(random.random()*100)

88.79685786392747

# Question 75

Please generate a random float where the value is between 5 and 95 using Python math module.

Hints: Use random.random() to generate a random float in [0,1].

In [35]:
# Generate a random float: how to use this random.random()
import random
print(random.random()*(95-5))

80.87991920046844

# Question 76

Please write a program to output a random even number between 0 and 10 inclusive using random module and list comprehension.

Hints: Use random.choice() to a random element from a list.

In [37]:
# Standard Solution

import random
print(random.choice([i for i in range(11) if i%2==0]))

6

# Question 77

Please write a program to output a random number, which is divisible by 5 and 7, between 0 and 10 inclusive using random module and list comprehension.

Hints: Use random.choice() to a random element from a list.

In [43]:
# Standard Solution

import random
print(random.choice([i for i in range(200) if i%5==0 and i%7==0]))

175

# Question 78

Please write a program to generate a list with 5 random numbers between 100 and 200 inclusive.

Hints: Use random.sample() to generate a list of random values.

In [44]:
import random
# this is the 2nd way to generate a certain number of random numbers within a range
print(random.sample(range(100),5))

[67, 72, 61, 23, 48]

Question 79

Please write a program to randomly generate a list with 5 even numbers between 100 and 200 inclusive.

Hints: Use random.sample() to generate a list of random values.

In [49]:
# My solution
import random
# this is the 2nd way to generate a certain number of random numbers within a range
print(random.sample([x for x in range(100,201) if i%2 ==0],5))

[163, 137, 138, 169, 120]

# Question 80

Please write a program to randomly generate a list with 5 numbers, which are divisible by 5 and 7 , between 1 and 1000 inclusive.

Hints: Use random.sample() to generate a list of random values.

In [51]:
# my solution
import random
print(random.sample([x for x in range(1,1001) if x%5==0 and x%7==0],5))

[490, 175, 385, 280, 945]

# Question 81

Please write a program to randomly print a integer number between 7 and 15 inclusive.

Hints: Use random.randrange() to a random integer in a given range.

In [52]:
# My Solution:

import random
print(random.randrange(7,16))

11

# Question 82

Please write a program to compress and decompress the string "hello world!hello world!hello world!hello world!".

Hints: Use zlib.compress() and zlib.decompress() to compress and decompress a string.

In [53]:
# Standard Solution:

import zlib
s = b'hello world!hello world!hello world!hello world!'
t = zlib.compress(s)
print(t)
print(zlib.decompress(t))

b'x\x9c\xcbH\xcd\xc9\xc9W(\xcf/\xcaIQ\xcc \x82\r\x00\xbd[\x11\xf5'
b'hello world!hello world!hello world!hello world!'

# Question 83

Please write a program to print the running time of execution of "1+1" for 100 times.

Hints: Use timeit() function to measure the running time.

In [55]:
from timeit import Timer
t = Timer("for i in range(100):1+1")
# This is an interesting program to run 100 times. They are supposed to be in one line.
print(t.timeit())

2.0344010989997514

# Question 84

Please write a program to shuffle and print the list [3,6,7,8].

Hints: Use shuffle() function to shuffle a list.

In [56]:
# Standard Solution: randomly to print elements
from random import shuffle
li = [3,6,7,8]
shuffle(li)
print(li)

[6, 8, 3, 7]

# Question 85

Please write a program to shuffle and print the list [3,6,7,8].

Hints: Use shuffle() function to shuffle a list.

In [59]:
from random import shuffle
li = [3,6,7,8]
shuffle(li) # shuffle the list and rearrange the list
print(li)

[7, 8, 3, 6]

# Question 86

Please write a program to generate all sentences where subject is in ["I", "You"] and verb is in ["Play", "Love"] and the object is in ["Hockey","Football"].

Hints: Use list[index] notation to get a element from a list.

In [62]:
# Standard Solution:
sub =  ["I", "You"] 
verbs = ["Play", "Love"] 
objects = ["Hockey","Football"]
for i in range(len(sub)):
  for j in range(len(verbs)):
    for k in range(len(objects)):
      sentence = "%s %s %s." % (sub[i],verbs[j], objects[k])
      print(sentence)

I Play Hockey.
I Play Football.
I Love Hockey.
I Love Football.
You Play Hockey.
You Play Football.
You Love Hockey.
You Love Football.

# Question 87

Please write a program to print the list after removing delete even numbers in [5,6,77,45,22,12,24].

Hints: Use list comprehension to delete a bunch of element from a list.

In [63]:
# Standard Solution:

li = [5,6,77,45,22,12,24]
li = [x for x in li if x%2!=0]
print(li)

[5, 77, 45]

# Question 88

By using list comprehension, please write a program to print the list after removing delete numbers which are divisible by 5 and 7 in [12,24,35,70,88,120,155].

Hints: Use list comprehension to delete a bunch of element from a list.

In [64]:
li = [12,24,35,70,88,120,155]
li = [x for x in li if x%5!=0 and x%7!=0]
print(li)

[12, 24, 88]

# Question 89

By using list comprehension, please write a program to print the list after removing the 0th, 2nd, 4th,6th numbers in [12,24,35,70,88,120,155].

Hints: Use list comprehension to delete a bunch of element from a list. Use enumerate() to get (index, value) tuple.

In [65]:
# Standard Solution:
li = [12,24,35,70,88,120,155]
li = [x for (i,x) in enumerate(li) if i%2!=0]
print(li)

[24, 70, 120]

# Question 90

By using list comprehension, please write a program generate a 358 3D array whose each element is 0.

Hints: Use list comprehension to make an array.

In [66]:
# Standard Solution:
#3D array needs to practice more.
array = [[ [0 for col in range(8)] for col in range(5)] for row in range(3)]
print(array)

[[[0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0]], [[0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0]], [[0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0]]]

# Question 91

By using list comprehension, please write a program to print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155].

Hints: Use list comprehension to delete a bunch of element from a list. Use enumerate() to get (index, value) tuple.

In [68]:
# Standard Solution:
li = [12,24,35,70,88,120,155]
li = [x for (i,x)in enumerate(li) if i not in (0,4,5)]
print(li)

[24, 35, 70, 155]

# Question 92

By using list comprehension, please write a program to print the list after removing the value 24 in [12,24,35,24,88,120,155].

Hints: Use list's remove method to delete a value.

In [69]:
# Standard Solution:
li = [12,24,35,24,88,120,155]
li = [x for x in li if x!=24]
print(li)

[12, 35, 88, 120, 155]

# Question 93

With two given lists [1,3,6,78,35,55] and [12,24,35,24,88,120,155], write a program to make a list whose elements are intersection of the above given lists.

Hints: Use set() and "&=" to do set intersection operation.

In [72]:
# Standard Solution: need to learn set() and &=
li1 = set([1,3,6,78,35,55])
li2 = set([12,24,35,24,88,120,155])
li1 &= li2
li = list(li1)
print(li)

[35]

# Question 94

With a given list [12,24,35,24,88,120,155,88,120,155], write a program to print this list after removing all duplicate values with original order reserved.

Hints: Use set() to store a number of values without duplicate.

In [75]:
# Standard Solution: good example need to learn

# What is the difference between set and list????

def removeDuplicate(li):
  newli = []
  seen = set()
  for item in li:
    if item not in seen:
      seen.add(item)
      newli.append(item)

  return newli
li = [12,24,35,24,88,120,155,88,120,155]
print(removeDuplicate(li))

[12, 24, 35, 88, 120, 155]

In [74]:
def removeDuplicate( li ):
    newli=[]
    seen = set()
    for item in li:
        if item not in seen:
            seen.add( item )
            newli.append(item)

    return newli

li=[12,24,35,24,88,120,155,88,120,155]
print(removeDuplicate(li))

[12, 24, 35, 88, 120, 155]

# Question 95

Define a class Person and its two child classes: Male and Female. All classes have a method "getGender" which can print "Male" for Male class and "Female" for Female class.

Hints: Use Subclass(Parentclass) to define a child class.

In [81]:
# Standard Solution but not very correct.

class Person:
    def getGender( self ):
        return "Unknown"

class Male(Person):
    def getGender( self ):
        return "Male"

class Female(Person):
    def getGender( self ):
        return "Female"

aMale = Male()
aFemale= Female()

aMale.getGender()
aFemale.getGender()

'Female'

# Question 96

Please write a program which count and print the numbers of each character in a string input by console.

Example: If the following string is given as input to the program:

abcdefgabc

Then, the output of the program should be:

a,2 c,2 b,2 e,1 d,1 g,1 f,1

Hints: Use dict to store key/value pairs. Use dict.get() method to lookup a key with default value.

In [82]:
# Standard Solution: # need to understand dict() and join() method

dic = {}
s=input()
for s in s:
    dic[s] = dic.get(s,0)+1
print('\n'.join(['%s,%s' % (k, v) for k, v in dic.items()]))

abcdefgabc
a,2
b,2
c,2
d,1
e,1
f,1
g,1

# Question 97

Please write a program which accepts a string from console and print it in reverse order.

Example: If the following string is given as input to the program:

rise to vote sir

Then, the output of the program should be:

ris etov ot esir

Hints: Use list[::-1] to iterate a list in a reverse order.

In [83]:
# Standard Solution:

s=input()
s = s[::-1] # This is how to dao zhe xie. Do some research.
print(s)

rise to vote sir
ris etov ot esir

# Question 98

Please write a program which accepts a string from console and print the characters that have even indexes.

Example: If the following string is given as input to the program:

H1e2l3l4o5w6o7r8l9d

Then, the output of the program should be:

Helloworld

Hints: Use list[::2] to iterate a list by step 2.

In [85]:
# Standard Solution:

s=input()
s = s[::2] # This is how to dao zhe xie. Do some research.
print(s)

H1e2l3l4o5w6o7r8l9d
Helloworld

# Question 99

Please write a program which prints all permutations of [1,2,3]

Hints: Use itertools.permutations() to get permutations of list.

In [86]:
# Standard Solution: dont actually know what is permutation.
import itertools
print(list(itertools.permutations([1,2,3])))

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]

# Question 100

Write a program to solve a classic ancient Chinese puzzle: We count 35 heads and 94 legs among the chickens and rabbits in a farm. How many rabbits and how many chickens do we have?

Hint: Use for loop to iterate all possible solutions.

In [88]:
y = 12
x= 23
print(y)
print(x)

12
23

In [89]:
# Standard Solution:

def solve(numheads,numlegs):
    ns='No solutions!'
    for i in range(numheads+1): # Dont know why to use loop to sovel this.
        j=numheads-i
        if 2*i+4*j==numlegs:
            return i,j
    return ns,ns

numheads=35
numlegs=94
solutions=solve(numheads,numlegs)
print(solutions)

(23, 12)